<div class="row">

  <div class="col-md-3">
    <app-brand></app-brand>
  </div>

  <div class="col-md-9">

    <div class="cart-body row">

      <div id="carouselExampleIndicators" class="carousel slide w-75 p-3 " data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://bo.richymotors.com/images/cars/rtrvbn839392.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.neistersen.com.tr/fileserver/files/1578/1552136156_kiralik_araba.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img  src="https://lh3.googleusercontent.com/p/AF1QipNXfBSyhneEGSkOz3BeXWrZS55Gxjvftv5oMBnN=s1280-p-no-v1" class="d-block w-100" alt="...">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span style="background-color: black;" class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span style="background-color: black;" class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>

      </div>

    </div>

    <div class="row">

      <div class="col-md-4 fs-5" id="icon-list" ><b class="list-title">Araç Özellikleri</b>
        <ul class="icon-list">
          <li><i class="bi bi-people-fill"></i> <span>4 Yetişkin</span></li>
          <li><i class="bi bi-bag"></i> <span>2 Büyük Bavul</span></li>
          <li><i class="bi bi-stop-circle"></i> <span>Yolcu Airbag</span></li>
          <li><i class="bi bi-tablet"></i> <span>Dizel</span></li>
          <li><i class="bi bi-gear-fill"></i> <span>Manuel</span></li>
        </ul>
      </div>

      <div class="col-md-4  fs-5" ><b class="list-title">Kiralama Koşulları</b>
        <ul class="icon-list">
          <li><i class="bi bi-inbox-fill"></i> <span>1000 Km</span></li>
          <li><i class="bi bi-calendar-date-fill"></i> <span>21 Yaş Ve Üstü</span></li>
          <li><i class="bi bi-file-earmark-richtext"></i> <span>Ehliyet Yaşı 1 ve Üzeri</span></li>
          <li><i class="bi bi-credit-card"></i> <span>1 Kredi Kartı</span></li>
        </ul>
      </div>
    </div>
    <button routerLink="payment" class="btn btn-success "> Kirala </button>
  </div>
</div>
